.body {
    font-family: "Courier New", Courier, monospace;
    background-color: #000;
    color: #fff;
}

.main-content {
    background-color: #000;
    position: absolute;
    padding-right: 10px;
    right: 0px;
    margin-left: 16rem;
    top: 4rem;
    padding-bottom: 10px;
    margin-bottom: 90px;
    overflow-y: hidden;
    width: calc(100vw - 16.5rem);
    height: calc(100vh - 10.6rem);
}

.titlebar {
    height: 30px;
    background: #329ea3;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    background: #5bbec3;
}
